extends ../layouts/common

block content
    .ml-5
        h1 users
        a.btn.btn-primary(href="/users/create") New
        form.mt-2(action="/users/search", method="GET")
            input(type="text", name="q", value= value)
            button Search
        table.table
            tr
                th Username
                th Phone
                th Action
            each user in users
                tr
                    td= user.name
                    td= user.phone
                    td
                        a(href="/users/" + user.id) View

